@using OnlineSchool.Shared.DTOs
<div class="modal fade" id="lessonDetailModal" tabindex="-1" aria-labelledby="lessonDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lessonDetailModalLabel">@Lesson?.Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @if (Lesson == null)
                {
                    <p><em>Загрузка урока...</em></p>
                }
                else
                {
                    <h6>Описание</h6>
                    <p>@Lesson.Description</p>
                    <hr />
                    <h6>Материалы урока</h6>
                    <p>@Lesson.ContentText</p>
                    @if (!string.IsNullOrEmpty(Lesson.VideoUrl))
                    {
                        <p><strong>Видео:</strong> <a href="@Lesson.VideoUrl" target="_blank">@Lesson.VideoUrl</a></p>
                    }
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public LessonDto Lesson { get; set; }
}