@using Blazored.LocalStorage
@using Microsoft.AspNetCore.Components.Authorization
@using OnlineSchool.WebApp.Services
@inherits LayoutComponentBase
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IAuthService AuthService
@inject IProgramService ProgramService
@inject IUserService UserService
@inject IGroupService GroupService

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <LoginDisplay />
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var token = await LocalStorage.GetItemAsync<string>("authToken");
            if (!string.IsNullOrEmpty(token))
            {
                AuthService.SetAuthToken(token);
                ProgramService.SetAuthToken(token);
                UserService.SetAuthToken(token);
                GroupService.SetAuthToken(token);
                // (когда появятся другие сервисы, их тоже нужно будет сюда добавить)

                await ((ApiAuthenticationStateProvider)AuthenticationStateProvider).UpdateAuthenticationState(token);
            }
        }
    }
}
